@font-face {
    font-family: "iranYekan";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/IRANYekanWebRegular.woff")
         format("woff");
}
@font-face {
    font-family: "iranYekan";
    font-weight: 700;
    font-style: bold;
    src: url("../assets/fonts/IRANYekanWebBold.woff")
         format("woff");
}
@font-face {
    font-family: "iranYekan";
    font-weight: 800;
    font-style: bolder;
    src: url("../assets/fonts/IRANYekanWebExtraBold.woff")
         format("woff");
}
button,
body {
    font-family: "iranYekan";
}
body {
    font-weight: 400;
}
.btn,
h3 {
    font-weight: 700;
}
h1,
h2 {
    font-weight: 800;
}